<!DOCTYPE html ng-app="myApp" >
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="GameCtrl">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="row">

      <div class="col-md-3 col-lg-3 col-xs-12"></div>

      <div class="col-md-6 col-lg-6 col-xs-12" style="padding: 0px">
          <div id="app-screen" class="center-block">
              <div class="row">
                  <div id="left-menu" class="col-md-4">

                  </div>
                  <div id="center" class="col-md-8">

                  </div>
              </div>
          </div>

      </div>

      <div class="col-md-3 col-lg-3 col-xs-12"></div>

  </div>


<h2>Hero</h2>

  <table>
      <tr>
          <td>Name:</td><td>{{hero.name}}</td>
      </tr>
      <tr>
          <td>Gold:</td><td>{{hero.gold}}</td>
      </tr>
      <tr>
          <td>Honor:</td><td>{{hero.honor}}</td>
      </tr>
      <tr>
          <td>Exp:</td><td>{{hero.exp}}</td>
      </tr>
  </table>

<h2>Quests</h2>
<div ng-repeat="quest in quests" ng-click="quest.start()"><button> start {{quest.name}}</button>
    <progress value="{{quest.progress}}"></progress>
    <br><br></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
